* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
}

.wrap-menu img {
  width: 300px;
  margin: 20px;
}

.wrap-menu ul {
  list-style: none;
  display: flex;
}

.wrap-menu ul li {
  margin: 20px;
}

.wrap-menu ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.wrap-students {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.wrap-students .studente {
  width: 45%;
  margin: 30px;
  padding: 20px;
  background-color: lightgray;
}

footer {
  width: 100;
  height: 200px;
  background-color: #1B3C59;
  margin-top: 50px;
}

footer ul {
  list-style: none;
  text-align: right;
}

footer ul li {
  margin: 20px;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

